body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;

}

button {
  border: 2px solid white;
  color: white;
  background-color: black;

}

input{
  border: 2px solid white;
  color: white;
  background-color: black;
}